

{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


<section>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'img/miguel1.jpg' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h1 id="h1">San Miguel</h1>
        <p><h4>y sus (54) veredas: </h4></p>
      </div>
    </section>
    <div class="container px-4" id="icon-grid">
      <h2 class="pb-2 border-bottom">VEREDAS</h2>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-3">
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Alta Floresta </h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Agua Blanca</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Bajo Amaron</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Bajo San Carlos</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Brisas de San Miguel</h5>            
          </div>
        </div>       
        </div>
      </div>
    </div>
     <!--2do bloque veredas-->
    <div class="container px-4 py-0" id="icon-grid">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
        py-5">
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">La Y </h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">Dios Peña</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">El Afilador</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">El Águila</h5>            
          </div>
        </div>
        <div class="col d-flex align-items-start">
          <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
          <div>
            <h5 class="fw-bold p-2">El Betano</h5>            
          </div>
        </div>       
        </div>
      </div>
    </div>

<!--3er bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Canadá</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Cedro</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Chiguaco</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Espinal</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Limonal</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>

<!--4to bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Maizal</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Naranjal</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Porvenir</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">El Sábalo</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Floresta</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--5to bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Guayabal</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Jordán Ortiz</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Cabaña</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Candelaria</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Ceiba</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--6to bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Cristalina</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Cruz</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Danta</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Guisita</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Montañita</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--7mo bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">La Unión</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Las Lomas</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Las Palmas</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Mesas del Sabalito</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Monterrey</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--8vo bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Nueva Albania</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Nueva Campiña</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Nueva Esperanza</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Nueva Risaralda</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Nuevo Vergel</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--9no bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Palmira Mandur</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Puerto el Sol</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Risaralda</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Antonio del Comboy</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Carlos</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--10mo bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Fernando</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Francisco</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San José</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Juan Bosco</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Lorenzo</h5>            
      </div>
    </div>       
    </div>
  </div>
</div>
<!--11vo bloque veredas-->
<div class="container px-4 py-0" id="icon-grid">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4
    py-5">
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Luis</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">San Vicente</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Santa Marta</h5>            
      </div>
    </div>
    <div class="col d-flex align-items-start">
      <img src="{% static 'icons\cama (1).png' %}" alt="login-icon" style="height: 2rem" />
      <div>
        <h5 class="fw-bold p-2">Tres Islas</h5>            
      </div>
    </div>          
    </div>
  </div>
</div>
    
{% endblock contenido %}
