

{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


<section>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'img/miguel4.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block p-5 m-5">
        <h1 id="h1">Habitantes</h1>
        <p><h4>El censo general 2018, relaciona que el municipio tiene 29.665 habitantes.</h4></p>
      </div>
    </section>
    <div class="d-none d-md-block text-center p-5">
      <h2 id="h2">Densidad</h2>
      <p><h4>La densidad poblacional de 52,02Hab/Km2, del total de los habitantes 6.507 personas viven en la cabecera y 23.158 viven en la zona rural</h4></p>
    </div>
    <div class="d-none d-md-block text-center p-5">
      <h2 id="h2" class="bg-gradient-info">La cabecera</h2>
      <p><h4>La cabecera denominada La Dorada cuenta con ocho barrios: Central, libertad, los Prados, Metropolitano, Nueve de Abril, San Felipe, Siete de Agosto y el Paraíso.</h4></p>
    </div>
    <div class="d-none d-md-block text-center p-5">
      <h2 id="h2">En el Corregimiento de Puerto Colon-San Miguel </h2>
      <p><h4>Encontramos el Centro Poblado el cual lleva su mismo nombre (Puerto Colon) compuesto por el Barrio el paraíso, el cual se encuentra legalizado con personería jurídica, una junta de vivienda comunitaria Los Almendros y los Sectores: la Floresta, Los Cristales, Siloé, El Chorro, La Vega, y el sector Colombia.</h4></p>
    </div>

</div>

<div class="container px-4 pt-2 pb-4" id="custom-cards">
  <h2 class="pb-2 border-bottom"></h2>

  <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5 justify-content-center">
       
  </div>
</div>




{% endblock contenido %}
