

{% extends 'partials/body.html' %}
{% load static %}
{% block contenido %}


<section>
  <div class="carousel-inner ">
    <div class="carousel-item active ">
      <img src="{% static 'img/miguel6.JPG' %}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block p-5">
        <h1 id="h1">SAN MIGUEL</h1>
        <p><h4>Tiene 570,8 km² y un clima tropical húmedo, con temperatura promedio de 28 C y con precipitaciones anuales de alrededor de 3.500 mm. La altura promedio sobre el nivel del mar es de 380 msnm.
          Debido su posición geográfica el municipio cuenta con ventajas comparativas respecto a los demás municipios del departamento, siendo concebido debido a su potencial limítrofe que permite un gran crecimiento en el área del intercambio comercial, la prestación de servicios y el intercambio cultural con el Ecuador.
          </h4></p>
      </div>
    </section>
    <div class="container px-4 py-4" id="icon-grid">
      <h2 class="pb-2 border-bottom">PUTUMAYO</h2>
      <div class="d-none d-md-block text-center p-5">
        <h2 id="h2" class="bg-gradient-info">Capital, Mocoa.</h2>
        <p><h4>Este departamento se encuentra ubicado al suroeste del país,limitando al norte con Cauca y Caquetá, al este con Amazonas, al sur con Perú y Ecuador, y al oeste con Nariño. La mayoría de sus municipios hace parte de los territorios focalizados PDET.
          Geográficamente el Putumayo se encuentra localizado entre 1°26'18" y 0°27'37" de latitud norte, y 73°50'39" y 77°4'58" de longitud oeste.</h4></p>
      </div>     
          </div>
        </div>
      </div>
    </div>

{% endblock contenido %}
