{% extends "partials/body.html" %}
{% load static %}


{% block contenido %}
    <section class="pt-5">
        
        <div class="row py-lg-5 text-center ">
            <div class="col-lg-6 col-md-8 mx-auto">
              <h1 class="fw-light bg-gradient-info">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">Nuestra Historia</font>
                </font>
              </h1>
              <p class="lead text-muted">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;">IPS la Dorada es una entidad prestadora de servicios en salud, con talento humano y capital netamente Sanmiguelense. Esta entidad es una sociedad familiar y su único interés es prestar servicios de calidad y atención oportuna a toda la población.</font>
                  <font style="vertical-align: inherit;">Nace en el año 2020, su prioridad se centra en toda la población de este municipio del recién nacido hasta personas de la tercera edad, el nombre de la entidad, hace referencia al municipio, debido a que su población ha sido afectada de manera directa por el conflicto armado. Por esta razón se busca minimizar los traumas generados en esta población. Esto se pretende realizar a través de una atención integral y de manera oportuna, con responsabilidad, respeto, humanización y con mucho compromiso por parte del talento humano.</font>
                </font>
              </p>
            </div>
          </div>
                  
            <div class="container-fluid marke">
          
              <!-- START THE FEATURETTES -->
 
          
              <div class="row featurette">
                <div class="col-md-5  bg-gradient-info p-5">
                  <h2 class="featurette-heading fw-normal lh-1">Actualmente el Municipio de San Miguel </h2>
                  <p class="lead">Tiene gran demanda de personas con diferentes afectaciones de salud, que tienen que esperar un prolongado tiempo, para acceder a una cita médica y poder ser atendidos.</p>
                  <p class="lead">En el caso más común, acceder de manera particular a clínicas de municipios aledaños, o salir del departamento en busca de atención médica, generando el aumento del riesgo en su salud.</p>
                  <p class="lead">En este sentido, esta entidad surge con el propósito de brindar una atención integral a toda la comunidad San Miguelense y su prioridad está enfocada en el bienestar físico y psicológico de toda la familia.

                  </p>
                  
                </div>
                <div class="col-md-7">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active">
                                <img src="{% static 'img/miguel1.jpg' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/miguel2.JPG' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/miguel3.JPG' %}" class="w-100 h-100" alt="...">
                            </div>
                        </div>
                    

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
              </div>

              <div class="container pt-1">
                <hr class="featurette-divider ">
                <div class="row mb-3 text-center ">
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">

                        <p>La Dorada Carrera 7 #No. 1-36, 
                          </p>
                    </article>
                </div>
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        
                        <p>San Miguel, Putumayo</p>
                    </article></div>
                    <div class="col-6 col-sm-4 themed-grid-col"><article class="card border-0  shadow-lg p-3 mb-5 bg-body rounded">
                        
                        <p>Teléfono: 84210533</p>
                    </article></div>
                  </div>
                </div>
              
          
              <div class="row featurette pt-4">
                <div class="col-md-5 order-md-2">
                  <h2 class="featurette-heading fw-normal lh-1">Valores, <span class="text-muted">Corporativos</span></h2>
                  <p class="lead bg-gradient-lightblue">
                    HUMANIZACIÓN: Brindando un trato humanizado, respetuoso y sensible con todas las personas sin excepción alguna, que se sientan acogidos, escuchados e importantes para nuestra entidad.
                  </p>
                  <p class="lead">
                    COMPROMISO: Garantizando una atención profesional, ética y en óptimas condiciones, con personal idóneo y equipos de alta calidad.
                  </p>
                  <p class="lead bg-gradient-lightblue">                    
                    RESPONSABILIDAD: Asumiendo el compromiso constante de cada uno de los servicios que la entidad ofrece, siendo receptivos con las sugerencias de cada uno de los pacientes y secretaria de salud, para brindar servicios de alta calidad.
                  </p>
                  <p class="lead">                    
                    CALIDAD: Ofreciendo atención oportuna y calidad en el servicio prestado por cada uno de los colaboradores de la entidad
                  </p>
                </div>
                <div class="col-md-7 order-md-1">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner h-100">
                            <div class="carousel-item active">
                                <img src="{% static 'img/corporativo1.JPG' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/corporativo2.JPG' %}" class="w-100 h-100" alt="...">
                            </div>
                            <div class="carousel-item h-100">
                                <img src="{% static 'img/corporativo3.JPG' %}" class="w-100 h-100" alt="...">
                            </div>
                        </div>
                    

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
              </div>               
            
              <div class="row featurette py-5 p-5 m-5">
                <div class="col-md-5 text-center">
                  <h2 class="featurette-heading fw-normal">Objetivos,<span class="text-muted">Corporativos</span></h2>
                  <p class="lead bg-gradient-lightblue">                    
                    BRINDAR: a pacientes una atención segura y humanizada en todos los servicios que preste la entidad.
                  </p>
                  <p class="lead">
                    ELEVAR: los niveles de calidad en todos los servicios.
                  </p>
                  <p class="lead bg-gradient-lightblue">                    
                    CAPACITAR: a nuestros colaboradores en procesos continuos de formación y/o actualización de nuevas resoluciones que emita la Superintendencia de Salud y Secretaria de Salud.
                  </p>
                  <p class="lead">                    
                    GESTIONAR: el correcto funcionamiento y calibración de nuestros equipos de trabajo.
                  </p>
                </div>
                <div class="col-md-7">
                  <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img" width="120" height="130"  ><img src="{% static 'img/objetivos2.JPG' %}" class="h-100 w-75" alt="..."></svg>
                  
                </div>
              </div>     
             
          
            </div><!-- /.container -->         
        
    </section>
{% endblock contenido %}
    