<!--Aqui empieza el Footer-->
{% load static %}
<!--footer-->
<footer class="footer mt-auto  bg-light; text-center" id="footer">

    <!--Redes Sociales-->

    
  <div class="container align-content-end pt-3">
          
            <!--Menú Footer--> 
            <ul class="nav flex-column pt-2 ">
               
                <li class="nav-item">
                    <a class="nav-link" style="color: white; font-size: 14px;">NIT: 901372032-1</a>
                  </li>
            </ul>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                  <a class="nav-link"  style="color: white; font-size: 14px;">CLÍNICA LA DORADA S.A.S. ZOMAC</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" style="color: white; font-size: 14px;">PUTUMAYO - SAN MIGUEL</a>
                </li>
            </ul>
              <!--Menú Footer-->
  </div>
    <!--Derechos de autor-->
    <div class="container pt-2" style=" font-size: 15px;"><span class="tex-muted" >
      © Copyright 
        <script>document.write(new Date().getFullYear())</script>
    </span></div>
    <!--Derechos de autor-->

</footer>
<link rel="stylesheet" href="js/bootstrap.min.js">
<!--Aqui termia el Footer-->